@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("http://fonts.cdnfonts.com/css/cocogoose");

@font-face {
  font-family: "Cocogoose";
  src: url("font/cocogoose-regular.ttf");
}

body {
  font-family: sans-serif;
  background-color: #f7f7f9;
  margin: 0;
  min-width: 320px;
}

ul {
  list-style-type: none;
}

p {
  font-size: 12px;
}

header {
  margin-left: 2%;
}

nav {
  padding-top: 20px;
}

.social-icons-div {
  display: none;
}

.logo {
  display: none;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 20px;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
  margin-left: 20px;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: white;
  opacity: 0.9;
  list-style: none;
  margin: 0;
  display: block;
  padding-top: 50px;
}

.menuItem {
  color: #272a31;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.showMenu {
  transform: translateY(0);
}

#myNavbar {
  margin: 0;
}

.head {
  background: url("images/abstract-simple-background_53876-99863.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0;
}

.navbar-header {
  float: left;
}

.navbar-brand {
  display: none;
}

.intro-div {
  width: 93%;
}

.intro-head {
  margin-top: 10%;
  color: #ec5242;
}

.intro-head h1 {
  font-family: "Cocogoose", sans-serif;
  font-weight: 700;
  font-size: 50px;
  width: 70%;
}

.intro-head p {
  font-family: "Lato", sans-serif;
  font-size: 30px;
}

.intro-mid-border {
  border: 3px solid white;
  color: #272a31;
  padding: 10px;
  margin-top: 20px;
  width: 70%;
}

.intro-time h2 {
  font-size: 20px;
  color: #ec5242;
  font-family: "COCOGOOSE", "Lato", sans-serif;
  font-weight: 500;
}

.intro-time p {
  font-family: "Lato", sans-serif;
  color: #272a31;
  font-size: 15px;
  padding-bottom: 5%;
}

.underline-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.line {
  height: 0.2vh;
  width: 50px;
  background-color: #ec5242;
}

.fab {
  color: white;
  font-size: 30px;
}

.main-program {
  background-color: #272a31;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: 100%;
  margin: 20px;
  width: 90%;
}

.card {
  position: relative;
  display: inline-block;
}

.card::before {
  margin: 2px 10px;
  content: "";
  background: white;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  width: auto;
}

.card-body {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  gap: 20px;
}

.card-body p {
  font-family: "Lato", sans-serif;
  margin-bottom: -5px;
  font-size: 12px;
}

.card-container h3 {
  font-weight: 700;
  font-size: 18px;
  color: #ec5242;
}

.btn {
  width: 50%;
  height: 50px;
  color: white;
  background-color: #ec5242;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}

.btn p {
  margin: 0;
}

.clickLink {
  display: none;
}

.speakers-content-global {
  display: none;
}

.speakers-content {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.speakers-info {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.speakers-content-mobile {
  margin-left: 20px;
}

.speakers-content-mobile p {
  font-family: "Lato", sans-serif;
  width: auto;
  margin: 0;
}

.speakers-content-mobile h2 {
  font-family: "Lato", sans-serif;
  margin-top: 0;
  margin-bottom: 10px;
}

.speakers-content-mobile h3 {
  font-family: "Lato", sans-serif;
  text-align: center;
}

.speakers-degree {
  color: #ec5242;
  font-style: italic;
}

.line1 {
  height: 0.5vh;
  width: 40px;
  margin: 20px 0;
  background-color: rgb(194, 193, 193);
}

.speakers-content-mobile img {
  background-image: url('images/my-bg.png');
  background-position: 10% 10%;
  width: 150px;
  margin-right: 4%;
  margin-left: 4%;
}

.btn-mobile,
.btn-mobile1 {
  width: 75%;
  margin-left: 70px;
  color: #272a31;
  text-align: center;
  border: 2px solid rgb(194, 193, 193);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn-mobile p {
  margin: 0;
  padding-left: 50px;
}

.btn-mobile a {
  margin: 0;
  padding: 20px;
  width: 20%;
}

.btn-mobile i {
  color: #ec5242;
  font-weight: 700;
  font-size: 20px;
}

.sponsored {
  background-color: #272a31;
  color: #d3d3d3;
  padding-bottom: 35px;
}

.sponsored h3 {
  font-family: "Lato", sans-serif;
  margin-top: 40px;
  font-weight: 700;
}

.sponsored-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.sponsored i {
  padding: 0;
  cursor: pointer;
  color: #d3d3d3;
}

#partner-home {
  display: none;
}

#partner-about {
  display: block;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: #d3d3d3;
}

.footer p {
  font-family: "Lato", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 250px;
}

.footer h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.about-div {
  margin-left: 10%;
  padding-top: 30px;
  padding-bottom: 100px;
  width: 80%;
  text-align: center;
}

.about-div h1 {
  font-family: "COCOGOOSE", sans-serif;
}

.about-head {
  color: #ec5242;
}

.about-head h1 {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 20px;
}

.about-mid-border {
  border: 3px solid white;
  color: #272a31;
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
}

.about-info {
  margin-top: 40px;
}

.about-email {
  font-weight: 700;
  text-decoration: underline;
  font-family: "Lato", sans-serif;
}

.underline-content p {
  margin-top: 10px;
  width: 400px;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.details {
  border-bottom: 2px solid whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-img {
  width: 300px;
  margin-bottom: 3%;
}

.event {
  text-align: center;
}

.event-info {
  display: inline-block;
}

.event-shade {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  margin-bottom: 20px;
  height: 20vh;
}

.event-shade::before {
  content: "";
  background: red;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
}

.event-img1 {
  background-image: url("images/event1.jpg");
}

.event-img2 {
  background-image: url("images/event2.jpg");
}

.event-date {
  text-align: center;
  color: white;
  z-index: 99;
  padding: 3%;
}

.event-date h3 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.event-date p {
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .menu {
    position: absolute;
    transform: none;
    transition: none;
    background: none;
    margin-left: 45%;
    display: block;
    display: flex;
    justify-content: space-around;
  }

  .menuItem {
    font-weight: normal;
    font-size: 20px;
    line-height: 44px;
  }

  .social-icons-div {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #272a31;
    list-style: none;
    display: block;
    padding-right: 10px;
  }

  .social-icons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    color: white;
    margin-top: 10px;
    text-decoration: none;
  }

  .social-icons i {
    font-size: 20px;
  }

  .social-icons a {
    text-decoration: none;
    color: white;
  }

  .logo {
    margin-top: 4%;
    display: block;
    margin-left: 35px;
    font-size: 20px;
  }

  .hamburger {
    display: none;
  }

  .intro-time h2 {
    font-size: 30px;
  }

  .fab {
    font-size: 40px;
  }

  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .card::before {
    margin: 2px;
  }

  .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
  }

  .card-body p {
    margin-bottom: 0;
  }

  .btn {
    display: none;
    visibility: hidden;
  }

  .clickLink {
    cursor: pointer;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 50px;
    color: white;
  }

  .speakers-content {
    display: none;
    visibility: hidden;
    width: 0%;
    height: 0;
    overflow: hidden;
  }

  .speakers-content-global {
    display: block;
  }

  .speakers-content-desktop {
    display: grid;
    grid-column: center;
    grid-template-columns: 2fr 2fr;
    padding: 0 22%;
    width: 100%;
    justify-content: center;
  }

  .speakers-content-desktop p {
    font-family: "Lato", sans-serif;
    width: 250px;
    margin: 0;
  }

  .speakers-content-desktop h2 {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
  }

  .speakers-content-desktop h3 {
    font-family: "Lato", sans-serif;
    text-align: center;
    font-weight: 700;
  }

  .line1 {
    margin: 5px 0;
  }

  .speakers-content-desktop img {
    background-image: url('images/my-bg.png');
    background-position: 12% 12%;
    height: 20vh;
    margin-right: 5%;
    margin-left: 5%;
  }

  .speakers-info-desktop {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    width: 50%;
  }

  #partner-home {
    display: block;
  }

  #partner-about {
    display: none;
  }

  .footer p {
    width: 350px;
  }

  .event-shade {
    position: relative;
    display: inline-flex;
    margin-bottom: 20px;
    height: 20vh;
  }

  .about-footer {
    margin-top: 20px;
    background-color: #272a31;
    color: white;
  }
}
