body {
  font-family: sans-serif;
  background-color: #f7f7f9;
  margin: 0;
}

ul {
  list-style-type: none;
}

h2 {
  font-size: 32px;
  color: #344563;
}

p {
  font-size: 20px;
}

.head {
  background-image: url("images/Education-bro.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
}

.intro-div {
    background-color: whitesmoke;
    opacity: 0.8;
    margin-top: -20px;
    padding-top: 30px;
    padding-bottom: 100px;
}
.intro-head {
    color: red;
}
.intro-head p{
    font-size: 40px;
}
.intro-head h1{
    font-weight: 700;
    font-size: 60px;
}
.intro-mid-border {
  border: 2px solid white;
  background-image: linear-gradient(white,white);
  background-color: whitesmoke;
  color: black;
  padding: 10px;
  margin-top: 50px;
}
.intro-time p{
    color: black;
}
.intro-time h2{
    color: black;
    font-weight: 700;
    font-size: 40px;
}

.main-program-div {
    text-align: center;
}

.fab{
    color: white;
    font-size: 40px;
}
.main-program-content  {
    position: relative; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
}

.main-program-content::before {    
      content: "";
      background: black;
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.5;
}

.main-program-content p, a {
  position: relative;
  color: #ffffff;
  padding: 0 50px;
  margin: 10px 0px;
}

.main-program-content h3 {
    position: relative;
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
}

.btn {
    padding: 100px;
    width: 100px;
    height: 50px;
    color: white;
    background-color: red;
}