@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("http://fonts.cdnfonts.com/css/cocogoose");

body {
  font-family: sans-serif;
  background-color: #f7f7f9;
  margin: 0;
  min-width: 320px;
}

ul {
  list-style-type: none;
}

p {
  font-size: 12px;
}

.head {
  background: url("images/abstract-simple-background_53876-99863.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0;
}

nav {
  padding-top: 20px;
}

header {
  margin-left: 12%;
}

.menu {
  margin-top: -20px;
  margin-left: 45%;
  display: flex;
  justify-content: space-around;
}

.hamburger {
  visibility: hidden;
}

.intro-div {
  margin-left: 10%;
  padding-top: 30px;
  padding-bottom: 100px;
  width: 80%;
}

.intro-head {
  color: #ec5242;
}

.intro-head p {
  font-family: "Lato", sans-serif;
  font-size: 30px;
}

.intro-head h1 {
  font-family: "COCOGOOSE", sans-serif;
  font-weight: 700;
  font-size: 50px;
  width: 70%;
}

.intro-mid-border {
  border: 3px solid white;
  color: black;
  padding: 10px;
  margin-top: 20px;
  width: 70%;
}

.intro-time p {
  color: black;
  font-size: 20px;
  width: 70%;
}

.intro-time h2 {
  font-family: "COCOGOOSE", sans-serif;
  color: black;
  font-weight: 500;
  font-size: 30px;
  width: 70%;
}

.main-program-div {
  text-align: center;
  color: white;
  background-color: #272a31;
}

.main-program-div h3 {
  font-family: "Lato", sans-serif;
  margin-bottom: 10px;
  width: 100%;
}

.underline-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.line {
  height: 0.2vh;
  width: 50px;
  background-color: #ec5242;
}

.fab {
  color: white;
  font-size: 40px;
}

.main-program-content {
  display: inline-block;
  position: relative;
  width: 17%;
  height: 20vh;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 150px;
  margin-left: 5px;
}

.main-program-content::before {
  content: "";
  background: white;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  height: 35vh;
}

.main-program-content p,
a {
  font-family: "Lato", sans-serif;
  position: relative;
  color: #fff;
  margin: 10px 0;
}

.main-program-content h3 {
  font-family: "Lato", sans-serif;
  position: relative;
  color: #ec5242;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 40px;
  font-weight: 700;
  font-size: 15px;
}

.btn {
  display: none;
  visibility: hidden;
}

.clickLink {
  cursor: pointer;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 50px;
}

.speakers-content {
  display: none;
}

.speakers-content-desktop {
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding: 10px;
  margin: 0 10%;
  width: 100%;
}

.speakers-content-desktop p {
  font-family: "Lato", sans-serif;
  width: 250px;
  margin: 0;
}

.speakers-content-desktop h2 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.speakers-content-desktop h3 {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: 700;
}

.speakers-degree {
  color: #ec5242;
  font-style: italic;
}

.line1 {
  height: 0.5vh;
  width: 40px;
  margin: 5px 0;
  background-color: rgb(194, 193, 193);
}

.speakers-content-desktop img {
  width: 100px;
  height: 10vh;
  margin-right: 5%;
  margin-left: 5%;
  border: 2px solid #ec5242;
}

.speakers-info-desktop {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  width: 50%;
}

.sponsored {
  background-color: #272a31;
  color: #d3d3d3;
  padding-bottom: 35px;
}

.sponsored i {
  color: #d3d3d3;
  padding: 50px;
}

.sponsored h3 {
  font-family: "Lato", sans-serif;
  margin-top: 40px;
  font-weight: 700;
}

.sponsored-icon {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 15vh;
  background-color: #d3d3d3;
}

.footer p {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 350px;
}

.footer h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.about-div {
  margin-left: 10%;
  padding-top: 30px;
  padding-bottom: 100px;
  width: 80%;
  text-align: center;
}

.about-div h1 {
  font-family: "COCOGOOSE", sans-serif;
}

.about-head {
  color: #ec5242;
}

.about-head h1 {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 20px;
}

.about-mid-border {
  border: 3px solid white;
  color: black;
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
}

.about-info {
  margin-top: 40px;
}

.about-email {
  font-weight: 700;
  text-decoration: underline;
}

.underline-content p {
  margin-top: 10px;
  width: 400px;
  text-align: center;
}

.details {
  border-bottom: 2px solid whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-img {
  width: 300px;
  margin-bottom: 3%;
}

.event-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-shade {
  position: relative;
  background-color: #ec5242;
  margin: 10px;
  height: 30vh;
}

.event-img {
  width: 350px;
  opacity: 0.2;
  height: 30vh;
}

.event-date {
  position: relative;
  z-index: 999;
  text-align: center;
  top: -200px;
  width: 100%;
  color: white;
}

.event-date h3 {
  font-weight: 700;
}

.about-footer {
  margin-top: 20px;
  background-color: #272a31;
  color: white;
}

@media only screen and (max-width: 768px) {
  .logo {
    display: none;
  }

  .hamburger {
    visibility: inherit;
    position: fixed;
    z-index: 100;
    top: 20px;
    border: none;
    background: none;
    cursor: pointer;
    width: 94%;
    text-align: left;
  }

  .closeIcon {
    display: none;
  }

  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: white;
    opacity: 0.9;
    list-style: none;
    padding: 65px;
    margin: 0;
    display: block;
  }

  .menuItem {
    color: black;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    margin: 20px;
  }

  .showMenu {
    transform: translateY(0);
  }

  #myNavbar {
    margin: 0;
  }

  .navbar-header {
    float: left;
  }

  .navbar-brand {
    display: none;
  }

  .intro-div {
    margin-top: -20px;
    width: 80%;
  }

  .intro-head {
    margin-top: 10%;
  }

  .intro-time h2 {
    font-size: 27px;
  }

  .fab {
    font-size: 60px;
  }

  .main-program-content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-program-content::before {
    content: "";
    height: 20vh;
    margin-left: -30px;
    left: 45px;
    margin-right: 10px;
  }

  .main-program-content h3 {
    margin-left: -20%;
    font-weight: 700;
    font-size: 18px;
  }

  .main-program-content p,
  a {
    padding: 0;
    margin-left: -30px;
    margin-right: 20px;
    width: 100%;
  }

  .btn {
    width: 50%;
    height: 50px;
    color: white;
    background-color: #ec5242;
    text-align: center;
    visibility: inherit;
    margin-top: 20px;
    cursor: pointer;
  }

  .btn p {
    margin: 0;
  }

  .clickLink {
    display: none;
  }

  .speakers-content-global {
    display: none;
  }

  .speakers-info {
    margin-left: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  .speakers-content {
    display: block;
    margin-top: 50px;
  }

  .speakers-content-mobile p {
    font-family: "Lato", sans-serif;
    width: 150px;
    margin: 0;
  }

  .speakers-content-mobile h2 {
    font-family: "Lato", sans-serif;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .speakers-content-mobile h3 {
    font-family: "Lato", sans-serif;
    text-align: center;
  }

  .speakers-degree {
    color: #ec5242;
    font-style: italic;
  }

  .line1 {
    margin: 20px 0;
  }

  .speakers-content-mobile img {
    width: 150px;
    height: 25vh;
    margin-right: 4%;
    margin-left: 4%;
    border: 2px solid #ec5242;
  }

  .btn-mobile {
    width: 75%;
    margin-left: 70px;
    color: black;
    text-align: center;
    border: 2px solid rgb(194, 193, 193);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .btn-mobile p {
    margin: 0;
    padding-left: 50px;
  }

  .btn-mobile a {
    margin: 0;
    padding: 20px;
    width: 20%;
  }

  .btn-mobile i {
    color: #ec5242;
    font-weight: 700;
    font-size: 20px;
  }

  .sponsored i {
    padding: 20px;
  }

  .event {
    text-align: center;
  }

  .event-info {
    display: inline-block;
  }

  .event-shade {
    position: relative;
    background-color: #ec5242;
    margin: 10px;
    height: 50vh;
  }

  .event-img {
    width: 350px;
    opacity: 0.2;
    height: 50vh;
  }

  .event-date {
    position: relative;
    z-index: 999;
    text-align: center;
    top: -300px;
    width: 100%;
    color: white;
  }

  .footer {
    padding-left: 100px;
    height: 20vh;
  }
}
